[Unit]
Description=Portal
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/portal

[Install]
WantedBy=multi-user.target
